$blueDark: #22375F;
$mainDark: #303030;
$mainLight: #7B7B7B;
$mainGrey: #C4C4C4;

$white: #fff;
$black: #000;

$mainShadow: 0 10px 25px #0000002A;

@mixin elementFlex($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin selfPosition($justify, $align){
  align-self: $align;
  justify-self: $justify;
}

@mixin mainTitle(){
  font-weight: 700;
  font-style: italic;
  font-size: 45px;
  line-height: 45px;
  color: $blueDark;
  text-transform: uppercase;
}

@mixin secondTitle(){
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  line-height: 44px;
  color: $blueDark;
  text-transform: uppercase;
}

@mixin normalText(){
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  color: $mainDark;
}
